@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
}

header {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
}

main {
  position: relative;
}

.main-content {
  margin-top: -45px; /* Adjust the top margin of the main content */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  font-size: 1.6em;
  font-weight: 900;
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.hamburger {
  width: 30px;
  height: auto;
  margin-right: 20px;
}

h1 {
  font-family: 'Jost';
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 60px;
}

h2{
  font-family: 'Jost';
  font-size: 1.8em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 40px;
}
h3{
  font-family: 'Jost';
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 30px;
}
h4{
  font-family: 'Jost';
  font-size: 1em;
  font-weight: 200;
  font-style: italic;
  margin-bottom: 5px;
  margin-top: 0px;
}

h5{
  font-family: 'Jost';
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 0px;
}

.titel{
  margin-top: 60px;
}
.about-text {
  font-family: 'Jost';
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
}

.nav-container {
  position: relative;
}

nav {
  display: none; /* Initially hide the navigation */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin-right:10px;
}

.current-page {
  font-weight: 900;
}

nav a {
  display: block;
  font-weight: 400;
  line-height: 2em;
  text-decoration: none;
  font-size: 2em;
  color: white;
  margin-bottom: -15px;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.overlay {
  display: none;
  position: fixed;
  top: 72px; /* Start overlay 100px from the top */
  left: 0;
  width: 100%;
  height: calc(100% - 72px); /* Adjust the height based on new start position */
  background-color: black;
  opacity: 0.9;
  z-index: 1;
}

#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ .overlay {
  display: block;
}

#menu-checkbox:checked ~ label + .overlay + nav {
  display: flex;
  background-color: transparent;
  z-index: 2;
}

.horisontal-line-left {
  position: absolute; /* Position the line absolutely */
  top: 0; /* Align the line to the top */
  left: 0; /* Align the line to the left */
  width: 500px; /* Set the width of the line */
  height: 20px; /* Set the height of the line */
  background-color: black; /* Set the background color to black */
  margin-left: 40px; /* Adjust margin as needed */
}

.vertical-line-left {
  position: absolute; /* Position the line absolutely */
  top: 0; /* Align the line to the top */
  left: 0; /* Align the line to the left */
  width: 20px; /* Set the width of the line */
  height: 500px; /* Set the height of the line */
  background-color: black; /* Set the background color to black */
  margin-left: 40px; /* Adjust margin as needed */
}

.horisontal-line-right {
  position: absolute;
  bottom: 0; /* Position the line at the bottom of the page */
  right: 0; /* Align the line to the right */
  width: 200px; /* Set the width of the line */
  height: 20px; /* Set the height of the line */
  background-color: black; /* Set the background color to black */
  margin-right: 40px; /* Adjust margin as needed */
}

.vertical-line-right {
  position: absolute;
  top: 100px; /* Adjust the top position as needed */
  right: 0; /* Align the line to the right */
  width: 20px; /* Set the width of the line */
  height: calc(100% - 100px); /* Set the height to cover the remaining height after leaving space for the footer */
  background-color: black; /* Set the background color to black */
  margin-right: 40px; /* Adjust margin as needed */
}

.bottom-space {
padding-bottom: 100px;
}

.profile-picture {
  margin-top: 60px;
  max-width: 200px; /* Adjust the width as needed */
  border-radius: 50%; /* This makes the image circular */
  border: 15px solid black; /* This adds a thick black border */
  object-fit: cover; /* Ensures the image covers the circle without distortion */
  position: relative;
  z-index: 0; /* Set a negative z-index value */
}

.about-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  padding: 0 20%; /* Add space on each side */
  margin-top: 60px; /* Adjust this value to move the section upwards */
  margin-bottom: 0px;
  position: relative; /* Ensure the container is positioned relatively */
  z-index: 1; /* Ensure the content appears above the decorative lines */
}

.contact-container {
  display: flex;
  flex-direction: column; /* Default to column for smaller screens */
  align-items: center; /* Center items vertically */
  padding: 0 20%; /* Add space on each side */
  margin-top: 60px; /* Adjust this value to move the section upwards */
  position: relative; /* Ensure the container is positioned relatively */
  z-index: 0; /* Ensure the content appears above the decorative lines */
}

.contact-picture {
  border-radius: 50%; /* This makes the image circular */
  border: 15px solid black; /* This adds a thick black border */
  object-fit: cover;
  width: 80%; /* Limit the profile picture width */
  margin-bottom: 20px; /* Space below the image for smaller screens */
  margin-top:60px;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 1; /* Set a negative z-index value */
}

.contact-container h1, .contact-container h2 {
  margin: 0; /* Remove any default margins */
}
.projects-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  padding-left: 150px; /* Add space on each side */
  position: relative; /* Ensure the container is positioned relatively */
  z-index: 0; /* Ensure the content appears above the decorative lines */
}
.index-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text within each div */
  padding: 0 20%; /* Add space on each side */
  margin-top: 60px; /* Adjust this value to move the section upwards */
  position: relative; /* Ensure the container is positioned relatively */
  z-index: 0; /* Ensure the content appears above the decorative lines */
}

.index-container h1,
.index-container h2,
.index-container img {
  margin: 10px 0; /* Reduce margin between items */
}

.index-container .profile-picture {
  margin-top: 100px; /* Ensure no extra space above the "Portfolio" heading */
}
.work-card-container {
  display: grid;
  gap: 20px;
  margin-bottom: 80px;
  align-items: center;
  align-content: center;
}

.work-card {
  border: 5px solid black;
  background-color: white;
  width: 80%;
  text-align: left;
  gap; 0px;
}

.work-card img {
  max-width: 100%;
  height: auto;
  border-bottom: 5px solid black;
}

.work-card-info {
  margin-left: 40px;
  margin-right: 20px;
}

.visit-site-button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 30px;
  font-family: 'Jost';
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-bottom: 40px;
}

.visit-site-button:hover {
  background-color: #333;
}
footer {
  clear: both; /* Ensure that the footer clears both the horizontal and vertical lines */
}

.footer-info {
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  text-align: right; /* Right-align the content */
  font-family: 'Jost';
  font-weight: 400;
}

@media (max-width: 899px) {
  .projects-container {
    padding-left: 100px; /* Add space on each side */
  }
  .work-card{
    width: 80%;
  }
  .work-card-container {
    grid-template-columns: 1fr; /* Single column layout */
  }
  
  .horisontal-line-left {
    width: 270px; /* Set the width of the line */
  }
  
  .vertical-line-left {
    height: 700px; /* Set the height of the line */
  }
  
  .horisontal-line-right {
    width: 270px; /* Set the width of the line */

  }
  
  .vertical-line-right {
    height: calc(100% - 100px); /* Set the height to cover the remaining height after leaving space for the footer */
  }

  .about-text {
    font-size: 1.7em;
  }
  
}

@media (min-width: 900px) {
  .logo {
    font-size: 2em;
  }

  .nav-container {
    justify-content: flex-end; 
    padding-right: 40px;/* Right-align the navigation container */
  }

  nav {
    display: flex;
    align-items: center;
    position: relative; /* Set back to relative positioning */
    top: unset;
    right: unset;
    text-align: right; /* Align text to the right */
    width: auto; /* Allow width to adjust to content */
    height: unset;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 0; /* Reset padding */
    flex-direction: row; /* Display navigation items in a row */
    margin-left: auto; /* Push the navigation items to the right */
    margin-right: 50px; /* Limit the right margin to 40px */
  }

  .hamburger {
    display: none;
  }

  nav a {
    color: black;
    font-size: 0.8em;
    text-decoration: none;
    margin-left: 20px; /* Add margin between links */
  }

  .contact-container {
    display: grid; /* Use grid layout for larger screens */
    grid-template-columns: 1fr 1fr; /* Two columns: 1/3 for image, 2/3 for text */
    align-items: center; /* Center items vertically */
    padding: 0 20%; /* Add space on each side */
  }

  .contact-picture {
    min-width: 80%;
    margin-right: 20px; /* Space between the image and text */
    margin-bottom: 0; /* Remove bottom margin for larger screens */
    margin-top: 80px;
    margin-bottom:80px;
  }

  .contact-info {
    margin-left: 20px; /* Add left margin for better spacing */
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .work-card-container {
    grid-template-columns: repeat(2, 1fr); /* Three columns layout */
    grid-row-gap: 20px;
  }

@media (min-width: 1300px) {
  .logo {
    font-size: 3em;
  }
  .work-card-container {
    grid-template-columns: repeat(3, 1fr); /* Three columns layout */
  }
  }