@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
}
header {
  margin:20px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  font-size: 1.6em;
  font-weight: 900;
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.hamburger {
  width: 30px;
  height: auto;
  margin-right: 20px;
}

.nav-container {
  position: relative;
}

nav {
  display: none; /* Initially hide the navigation */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
}

.current-page {
  font-weight: 900;
}


nav a {
  display: block;
  font-weight: 400;
  line-height: 2em;
  text-decoration: none;
  font-size: 2em;
  color: white;
  margin-bottom: -15px;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.overlay {
  display: none;
  position: fixed;
  top: 100px; /* Start overlay 100px from the top */
  left: 0;
  width: 100%;
  height: calc(100% - 100px); /* Adjust the height based on new start position */
  background-color: black;
  opacity: 0.9;
  z-index: 1;
}
#menu-checkbox {
  display: none;
}
#menu-checkbox:checked ~ .overlay {
  display: block;
}

#menu-checkbox:checked ~ label + .overlay + nav {
  display: flex;
  background-color: transparent;
  z-index: 2;
}

.footer-info {
  padding: 40px;
  text-align: right; /* Right-align the content */
  font-family: 'Jost';
  font-weight: 400;
}

@media (min-width: 900px) {
  .logo {
    font-size: 2em;
  }

  .nav-container {
    justify-content: flex-end; 
    padding-right: 40px;/* Right-align the navigation container */
  }

  nav {
    display: flex;
    align-items: center;
    position: relative; /* Set back to relative positioning */
    top: unset;
    right: unset;
    text-align: right; /* Align text to the right */
    width: auto; /* Allow width to adjust to content */
    height: unset;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 0; /* Reset padding */
    flex-direction: row; /* Display navigation items in a row */
    margin-left: auto; /* Push the navigation items to the right */
    margin-right: 40px; /* Limit the right margin to 40px */
  }

  .hamburger {
    display: none;
  }

  nav a {
    color: black;
    font-size: 0.8em;
    text-decoration: none;
    margin-left: 20px; /* Add margin between links */
  }
}
